.container-eat {
    display: flex;
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
    color: #000;
    background-color: #f4f4f4;
    max-width: 360px;
    border-radius: 10px;
    text-align: center;
    margin: 1rem auto; 
    padding: 2rem;
}

.eat-item {
    display: flex;
    flex-direction: column;
    align-items: center;   
    justify-content: center; 
    text-align: center;
    margin-top: 1rem;
    gap: 0.5rem; 
}

.drink {
    display: none;
}




.bg-pink {    
    background-color:#fce2d7;
    border-radius: 10px;
    padding: 0.5rem;
}

.container-eat h2 {
    font-size: 30px;
    font-weight: bold;
    max-width: 200px;
}

.container-eat p {
    max-width: 200px;
}

@media (min-width: 768px) {
    .container-eat {
    display: flex;
    flex-direction: column; 
    color: #000;
    max-width: 700px;
    padding: 4rem;
    
}

.eat-icons {
    display: flex;
    gap: 1rem;
}

.eat-item {
    display: flex;
    flex-direction:column;
    align-items: center;   
    justify-content: center; 
    text-align: center;
    margin-top: 1rem;
    gap: 0.5rem; 
}


.drink {
    display: none;
}




.container-eat h2 {
    font-size: 50px;    
    max-width: 600px;
}

.container-eat p {
    max-width: 400px;
}

}

@media (min-width: 1280px) {

    .container-eat {
    display: flex;
    flex-direction: row;
    justify-content: space-around; 
     max-width: 1280px;
    padding: 2rem;
    gap: 1rem;
}


.drink {
    display: block;
}

.container-eat h2 {
    font-size: 50px;    
    max-width: 700px;
}

.container-eat p {
    text-align: left;
    max-width: 200px;
}

  .eat-item {
    align-items: flex-start;
    text-align: left;
  }

  .eat-icons {
    justify-content: flex-start;
  }


 }
