.NavBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1280px;
    padding: 1rem 2rem;
    margin: 0 auto;
}

.NavBar img {
    cursor: pointer;
    width: auto;
}


.NavBar ul {
    display: flex;
    gap: 2rem;
    list-style: none;
    margin: 0;
    padding: 0;
}


.NavBar a {
    font-size: 1rem;
    font-weight: 500;
    text-decoration: none;
    padding: 0.25rem 0;
    transition: 0.2s ease;
    position: relative;
}

.NavBar a::after {
    content: "";
    position: absolute;
    width: 0%;
    height: 2px;
    background: #285e67;
    left: 0;
    bottom: -3px;
    transition: width 0.3s ease;
}

.NavBar a:hover::after {
    width: 100%;
}


.hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
    gap: 5px;
}

.hamburger span {
    width: 28px;
    height: 3px;
    background: #285e67;
    transition: 0.3s;
    border-radius: 5px;
}


.hamburger span.open:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
}

.hamburger span.open:nth-child(2) {
    opacity: 0;
}

.hamburger span.open:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
}

@media (max-width: 768px) {

    .NavBar {
        padding: 1rem 4rem;

    }

}

@media (max-width: 475px) {

    .NavBar {
        padding: 1rem 3rem;
    }


    .hamburger {
        display: flex;
    }

    .NavBar ul {
        position: absolute;
        top: 70px;
        right: 0;
        background: white;
        flex-direction: column;
        gap: 1.5rem;
        width: 180px;
        padding: 1rem 1.5rem;
        box-shadow: 0 2px 10px #00000030;
        transform: translateX(120%);
        transition: 0.3s ease;
        color: #000;
    }


    .NavBar ul.open {
        transform: translateX(0);
    }
}