.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    max-width: 400px;
    margin: 0 auto;
    padding: 1.5rem;
}

.container h1 {
    font-weight: bold;
    font-size: clamp(28px, 5vw, 48px);
    margin-bottom: 1rem;
}

.container p {
    font-size: clamp(14px, 2vw, 18px);    
    margin-bottom: 1.5rem;
    line-height: 1.6;
}

.btn {
    padding: 0.75rem 1.5rem;
    background-color: #285e67;
    border-radius: 30px;
    color: white;
    font-weight: 600;
    font-size: 14px;
    transition: background-color 0.15s ease;
}

.btn:hover {
    background-color: #214f57;
}


.images {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: 1rem;
    width: 100%;
}

.images img {
    width: 100%;
    height: auto;
    max-height: 400px;
    object-fit: cover;
    border-radius: 20px;
}



@media (min-width: 640px) {

    .container {
        max-width: 700px;
    }

    .container h1 {
        font-size: 55px;
    }

    .container p {
        font-size: 16px;
    }

    .btn {
    padding: 0.5rem 3rem;
     font-size: 20px;  
}

    .images {
        flex-direction: row;
        justify-content: center;
    }

    .images img {
        width: 390px;
        height: 360px;
    }
}



@media (min-width: 1280px) {

    .container {
        max-width: 1440px;
        padding: 3rem;
    }

    .container h1 {
        font-size: 68px;
    }

    .btn {
        font-size: 16px;
        padding: 0.5rem 3rem;
        margin-bottom: 2rem;
    }

    .images {
        width: 1400px;
        justify-content: center;
        flex-direction: row;
    }

    .images img {
        width: 626px;
        height: 390px;
    }
}
