:root {
  --bg: #f4f4f4;
  --bg-img: #285e67;
}


.container-Wellbeing {
  color: #000;
  background-color: var(--bg);
  padding: 1rem;
  margin: 2rem auto;
  max-width: 360px;

  display: flex;
  flex-direction: column;
  gap: 2rem;
}


.container-Wellbeing h2 {
  font-size: 25px;
  font-weight: bold;
  text-align: center;
}


.container-Wellbeing p {
  font-size: 16px;
  max-width: 200px;
  text-align: center;
}


.icons {
  margin: 1rem auto;
  display: block;
  border-radius: 10px;
  background-color: var(--bg-img);
  padding: 0.5rem;
}


.woman {
  display: none;
}


@media (min-width: 640px) {
  .container-Wellbeing {
    max-width: 690px;
  }

  .image {
    display: flex;
    flex-direction: row;
    gap: 2rem;
  }

  .container-Wellbeing h2 {
    font-size: 35px;
    text-align: center;
  }

  .info {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

@media (min-width: 1280px) {
  .container-Wellbeing {
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    max-width: 1270px;
    text-align: left;
    padding: 1rem 3rem;
  }

  .text-side {
    width: 55%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .container-Wellbeing h2 {
    font-size: 45px;
    text-align: left;
  }

  .icons {
    margin: 1rem 0;
    align-self: start;
    display: block;
  }


  .info p {
    text-align: left;
  }



  .woman {
    display: block;
    width: 291px;
    height: auto;
  }
}