@import "tailwindcss";


:root {
    -ff:"Poppins", sans-serif;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: var(-ff);
    background-color: #000;
    color: #fff;
}

body.dark {
    background: #fff; 
    color: #000;
}


body.dark .NavBar ul {
    background: #f0f0f0;
    color: #222;
}

body.dark .hamburger span {
    background: #222;
}

.dark-toggle {
    cursor: pointer;
    font-size: 1.5rem;
}

body.dark .logo {
    background-color: #000;
    padding: 0.5rem;
}

